*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
main{
    height: auto;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
nav{
    box-sizing: border-box;
    width: 100%;
    height: 100px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#more{
    display: none;
}
#start{
    display: none;
}
.blue-buttons{
    color: #ffffff;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    background-color: #1273ff;
    transition-duration: 0.25s;
    box-shadow: 0px 0px 15px rgb(0 90 220 / 25%); 
    cursor: pointer;
}

.blue-buttons:hover{
    background-color:#1273f0 ;
}
/*ADD BURGER MENU*/

/*************END NAV**************/

#experience{
    height: auto;
    width: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#experience-pic{
    width: 100%;
    height: 80vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}
#experience-detail{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#experience-detail p{
    margin-top: 5vh;
}
#experience-detail :nth-child(1){
    font-size: 42px;
    font-weight:500;
}
#experience-detail :nth-child(2){
    width: 75%;
}
#experience-detail button{
    height: 40px;
    width: auto;
    padding: 5px;
    margin-top: 5vh;
}
#experience-detail button:hover{
    background-color: #1273f0;
}

#experience-pic img{
    border-radius: 15px;
    height: 80%;
}
#experience-pic #QrCode{
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    top: 0%;
    right: -5%;
}
#experience-pic  #scan-experience{
    height: 100px;
    width: 270px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    top: 30%;
    left: -5%;
}
#experience-pic #pay-experience{
    height: 100px;
    width: 270px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    top: 55%;
    right: -5%;
}
.Shadow-slide{
    box-shadow: 0px 0px 50px rgb(223, 223, 223);
}
.Shadow-slide-To-left{
    box-shadow: -25px 0px 50px rgb(223, 223, 223);
}
.Shadow-slide-To-right{
    box-shadow: 25px 0px 50px rgb(223, 223, 223);
}
.insider-bold{
    font-weight: 700;
    font-size: 20px;
    color: black;
}
.insider-Nbold{
    font-size: 18px;
    color: rgb(172, 170, 170);
}
.insider-icon{
    padding-right: 10px;  
    border-right: solid black 2px;
}
/* END EXPERIENCE */ 
#System{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#System h1{
    text-align: center;
    word-spacing: 2px;
}
.System-caisses{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    height: 100%;
    width: 100%;
}
.System-caisses svg{
    margin-top: 50px;
}
/* END SYSTEM */
#Activities{
    padding-top: 100px;
    background-color: #FAFBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100vw;
}
#Activities h1{
    font-size: 42px;
    text-align: center;
    font-weight: 500;
}
#Activities-details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 80px;

}
.activity{
    margin-left: 25px;
    margin-right: 25px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.insider-bold-simple{
    font-size: 36px;
}

/* END ACTIVITIES*/
#fonctionnement{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300vh;
}
#fonctionnement div{
    margin-top: 50px ;
}
#fonctionnement :nth-child(n-1) {
    margin-top: 15px;
    font-weight: 500;
}
#fonctionnement div{
    margin-top: 50px;
}
.fonctionnement-explained-left{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    
    
}
.fonctionnement-explained-right{
    position: relative;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.fonctionnement-explained-left img{
    width: 80%;
}
.fonctionnement-explained-right img{
    width: 80%;
}
.insider-fonctionnement{
    margin-left: 10px;
    padding-left: 10px ;
    font-size: 16px ;
    font-weight: 300;
    width: 100%;
}

.insider-fonctionnement-bold{
    font-size: 20px ;
    font-weight: 500;
}
.fonctionnement-overAll-left{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-left: 15px;

    height: 90px;
    width: 250px;
    
    border-radius: 10px;
    top: -12%;
    right: -2%;
}

.fonctionnement-overAll-right{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-left: 15px;

    height: 90px;
    width: 250px;
    
    border-radius: 10px;
    top: -12%;
    left: -2%;
}
/* END fonctionnement */

#paiement{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    height: auto;
}
#paiement :nth-child(2){
    margin-top: 40px;
}
#paiement h1{
    font-weight: 500;
    text-align: center;
    font-size: 36px;
}
#paiement :nth-child(5){
    width: 100%;
    
}
#Price{
    height: 60vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.insider-price-bold{
    font-size: 36px;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 100%;
}
.insider-price-Nbold{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 300;
    word-spacing: 2px;
    width: 100%;
}
.delimiter{
    margin-top: 100px;

}
/* END PAIEMENT*/
footer{
    width: 100vw;
    background-color: #FAFBFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    height: auto;
}
#Hold-all{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: auto;
}
#First-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: solid 1px grey ;


}
#info-holder{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
#info-holder :nth-child(n+1){
    margin-top: 20px;
}
#icon-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 24px;
    
}
#icon-holder i {
    cursor: pointer;
}
#More-info-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.More-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    margin-top: 20px;
}
.More-info a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.More-info :first-child{
    font-weight: 700;
}
#Second-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#Second-block p {
    font-size: 14px;
    color: grey;
    text-align: center;
    font-size: 16px;

}
#Second-block a {
    font-size: 14px;
    color: grey;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}